@(elements: views.html.helper.FieldElements)
@import play.api.i18n._
@import views.html.helper._


<div class="form-group @if(elements.hasErrors) {has-error}">
    <label class="col-sm-2 col-sm-2 control-label" for="@elements.id">@elements.label(elements.lang)</label>
    <div class="col-sm-10">
        @Html(elements.input.body.dropRight(2)+"class='form-control'>")
        <span id="helpBlock" class="help-block">
            @elements.errors(elements.lang).mkString(", ")
        </span>
    </div>
</div>