@(elements: views.html.helper.FieldElements)
@import play.api.i18n._
@import views.html.helper._


<div class="form-group @if(elements.hasErrors) {has-error}">
    @Html(elements.input.body.dropRight(2)+"class='form-control'>")
    <span id="helpBlock" class="help-block">
        @elements.errors(elements.lang).mkString(", ")
    </span>
</div>