<!-- js placed at the end of the document so the pages load faster -->
<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/datetimepicker/bootstrap-datetimepicker.min.js")"></script>
<script src="@routes.Assets.at("javascripts/datetimepicker/bootstrap-datetimepicker.pl.js")"></script>
<script class="include" type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dcjqaccordion.2.7.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.scrollTo.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.nicescroll.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.sparkline.js")"></script>


<!--common script for all pages-->
<script src="@routes.Assets.at("javascripts/common-scripts.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/gritter/js/jquery.gritter.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/gritter-conf.js")"></script>

<!--script for this page-->
<script src="@routes.Assets.at("javascripts/sparkline-chart.js")"></script>
<script src="@routes.Assets.at("javascripts/zabuto_calendar.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        return false;
    });
</script>

<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function () {
                return myDateFunction(this.id, false);
            },
            action_nav: function () {
                return myNavFunction(this.id);
            },
            ajax: {
                url: "show_data.php?action=1",
                modal: true
            },
            legend: [
                {type: "text", label: "Special event", badge: "00"},
                {type: "block", label: "Regular event", }
            ]
        });
    });


    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>