<!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo"><b>Bookmarks app</b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu" id="notificationsArea">
            <!-- settings start -->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-tasks"></i>
                    <span class="badge bg-theme" id="notificationsCounter">0</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar" id="notificationsList">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green" id="notificationsHeader">Masz 8 zadań do wykonania</p>
                    </li>

                </ul>
            </li>
            <!-- settings end -->
        </ul>
        <!--  notification end -->
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="@routes.UserController.logout">Logout</a></li>
        </ul>
    </div>
</header>
<!--header end-->