@(label: String, href: play.api.mvc.Call, tabName: String, activeTabName: String)

<li class="sub-menu">
    @if(tabName == activeTabName) {
        <a class="active" href="@href">
    } else {
        <a href="@href">
    }
            <i class="fa fa-dashboard"></i>
            <span>@label</span>
        </a>
</li>