@(activeTabName: String)

<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->

@import helpers.view.MenuItem
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="#"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">SomeUser</h5>

            @menuPosition("Dashboard", routes.UserController.dashboard, "dashboard", activeTabName)

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->