@()(implicit flash: Flash)

@import views.html.helper.dashgum._

@main("settings"){

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">

            <div class="col-md-12 mt">

                <!-- BASIC FORM ELELEMNTS -->
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> Your dashboard</h4>
                </div>
            </div><!-- /col-md-12 -->
        </div><!-- row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

<!--main content end-->

}